<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %} - {{ page_title }}</title>
    {% endblock %}
    </head>
    <body>
      {% block header %}
      {% endblock %}
      {% block main %}
      {% endblock %}
    </body>
</html>
